.column-layout {
    display: flex;
    flex-direction: column;
}
.default-size-container {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 16px;
    height: 100%;
}
.button {
    height: max-content;
}
