@page "/default_size"

<div class="column-layout default-size-container">
    <IgbButton DisplayType="ButtonBaseType.Button" class="button" default_size-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton DisplayType="ButtonBaseType.Button" class="button" default_size-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button" default_size-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton DisplayType="ButtonBaseType.Button" class="button" default_size-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton DisplayType="ButtonBaseType.Button" class="button" default_size-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton DisplayType="ButtonBaseType.Button" class="button" default_size-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton DisplayType="ButtonBaseType.Button" class="button" default_size-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button" default_size-scope>
        <span class="material-icons">
            emergency
        </span>
        <span>Button</span>
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button" default_size-scope>
        <span class="material-icons">
            add
        </span>
        <span>Button</span>
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button" default_size-scope>
        <span class="material-icons">
            send
        </span>
        <span>Button</span>
        <IgbRipple></IgbRipple>
    </IgbButton>
</div>

@code {
}
