@page "/"
@page "/multiple_sizes"

<div class="column-layout multiple-sizes-container">
    <IgbButton DisplayType="ButtonBaseType.Button" class="button" multiple_sizes-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton DisplayType="ButtonBaseType.Button" class="button_1" multiple_sizes-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button_1" multiple_sizes-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton DisplayType="ButtonBaseType.Button" class="button_1" multiple_sizes-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton DisplayType="ButtonBaseType.Button" class="button_1" multiple_sizes-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton DisplayType="ButtonBaseType.Button" class="button_1" multiple_sizes-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton DisplayType="ButtonBaseType.Button" class="button_1" multiple_sizes-scope>
        Button
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button_1" multiple_sizes-scope>
        <span class="material-icons">
            emergency
        </span>
        <span>Button</span>
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button_1" multiple_sizes-scope>
        <span class="material-icons">
            add
        </span>
        <span>Button</span>
        <IgbRipple></IgbRipple>
    </IgbButton>
    <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" class="button_1" multiple_sizes-scope>
        <span class="material-icons">
            send
        </span>
        <span>Button</span>
        <IgbRipple></IgbRipple>
    </IgbButton>
</div>

@code {
}
